<h1>AWV Commons</h1>

<h2>Kaart</h2>

<h3>Zonder controls, enkel dienstkaart in kleur</h3>

<awv-kaart>

  <awv-kaart-wms-laag titel="Dienstkaart kleur"
                      [wmsUrls]="wdbWmsUrls"
                      wmsUrlLayers="dienstkaart-kleur">
  </awv-kaart-wms-laag>

</awv-kaart>

<h3>Met controls</h3>

<div>
  <awv-kaart>
    <awv-kaart-wms-laag titel="Orthofotos (AGIV)"
                        [wmsUrls]="agivWmsUrls"
                        wmsUrlLayers="Ortho">
    </awv-kaart-wms-laag>
    <awv-kaart-wms-laag titel="Dienstkaart kleur"
                        [wmsUrls]="wdbWmsUrls"
                        wmsUrlLayers="dienstkaart-kleur">
    </awv-kaart-wms-laag>
    <awv-kaart-wms-laag titel="Dienstkaart grijs"
                        [wmsUrls]="wdbWmsUrls"
                        wmsUrlLayers="dienstkaart-grijs">
    </awv-kaart-wms-laag>
    <awv-kaart-wms-laag titel="Ident8 labels (WDB)"
                        [wmsUrls]="wdbWmsUrls"
                        wmsUrlLayers="ident8"
                        wmsVersion="1.1.1">
    </awv-kaart-wms-laag>
    <awv-kaart-wms-laag titel="Referentiepunten (WDB)"
                        [wmsUrls]="wdbWmsUrls"
                        wmsUrlLayers="referentiepunten"
                        wmsVersion="1.1.1">
    </awv-kaart-wms-laag>
    <awv-kaart-teken-polygoon-laag></awv-kaart-teken-polygoon-laag>
    <awv-kaart-knoppen></awv-kaart-knoppen>
    <awv-kaart-layer-switcher-knop></awv-kaart-layer-switcher-knop>
  </awv-kaart>
</div>
