<h1>AWV Commons</h1>

<h2>Kaart</h2>

<h3>Zonder controls, enkel dienstkaart in kleur,</h3>

<div>
  <awv-kaart [breedte]="800">
    <awv-kaart-wdb-laag [titel]="'Dienstkaart kleur'" [laag]="'dienstkaart-kleur'"></awv-kaart-wdb-laag>
  </awv-kaart>
</div>

<h3>Ingezoomd + 1 feature + onclick event voor feature + schaal + volledig scherm knop</h3>

<div>
  <awv-kaart [breedte]="800" [zoom]="7" [middelpunt]="installatie">
    <awv-kaart-wdb-laag [titel]="'Dienstkaart grijs'" [laag]="'dienstkaart-grijs'"></awv-kaart-wdb-laag>
    <awv-kaart-toon-features [features]="installaties"
                             (featureGeselecteerd)="installatieGeselecteed($event)"></awv-kaart-toon-features>
    <awv-kaart-schaal></awv-kaart-schaal>
    <awv-kaart-knop-volledig-scherm></awv-kaart-knop-volledig-scherm>
  </awv-kaart>

  <pre *ngFor="let event of installatieGeselecteerdEvents">
    Event gegooid: {{ event | json }}
  </pre>
</div>

<h3>Ingezoomd (met WGS 84 coordinaten) + schaal</h3>

<div>
  <p>Vul zelf lengtegraad en breedtegraad in.</p>
  <p><label>Lengtegraad: </label><input [(ngModel)]="lat" type="number"/></p>
  <p><label>Breedtegraad: </label><input [(ngModel)]="long" type="number"/></p>
  <awv-kaart [breedte]="800" [zoom]="7"
             [middelpunt]="[lat, long]"
             [middelpuntSrs]="'EPSG:4326'">
    <awv-kaart-wdb-laag [titel]="'Dienstkaart kleur'" [laag]="'dienstkaart-kleur'"></awv-kaart-wdb-laag>
    <awv-kaart-schaal></awv-kaart-schaal>
  </awv-kaart>
</div>

<h3>Orhto laag + teken polygoon</h3>

<div>
  <awv-kaart [breedte]="800">
    <awv-kaart-ortho-laag [titel]="'Ortho'"></awv-kaart-ortho-laag>
    <awv-kaart-teken-polygoon-laag (polygonGetekend)="polygoonGetekend($event)"></awv-kaart-teken-polygoon-laag>
  </awv-kaart>

  <pre *ngFor="let event of polygoonEvents">
    Event gegooid: {{ event | json }}
  </pre>
</div>

<h3>Dienstkaart (meerdere lagen), volledige breedte + alle controls + locatiezoeker</h3>

<div>
  <input [(ngModel)]="locatieQuery" type="text"/>
  <button (click)="zoekLocaties(locatieQuery)">Zoek</button>
  <p><strong>Opgelet!</strong> Dit voert een CORS request uit via een SSH tunnel:</p>
  <ul>
    <li>
      <p>Leg een SSH tunnel naar de apigateway van dev:</p>
      <pre>ssh -L 5100:apigateway.dev.awv.internal:80 management.apps.mow.vlaanderen.be</pre>
    </li>
    <li>
      <p>Zet chrome open zonder web security om dit te testen.</p>
      <p>macos:</p>
      <pre>open -a Google\ Chrome --args --disable-web-security --user-data-dir</pre>
      <p>*nix:</p>
      <pre>chromium-browser --disable-web-security --user-data-dir</pre>
    </li>
  </ul>
  <awv-kaart>
    <awv-kaart-wdb-laag [titel]="'Dienstkaart kleur'" [laag]="'dienstkaart-kleur'"></awv-kaart-wdb-laag>
    <awv-kaart-wdb-laag [titel]="'Dienstkaart grijs'" [laag]="'dienstkaart-grijs'"></awv-kaart-wdb-laag>
    <awv-kaart-toon-features [features]="zoekresultaten"></awv-kaart-toon-features>
    <awv-kaart-schaal></awv-kaart-schaal>
    <awv-kaart-knop-laag-kiezer></awv-kaart-knop-laag-kiezer>
    <awv-kaart-knop-volledig-scherm></awv-kaart-knop-volledig-scherm>
    <awv-kaart-knop-zoom-slider></awv-kaart-knop-zoom-slider>
    <awv-kaart-standaard-knoppen></awv-kaart-standaard-knoppen>
    <awv-kaart-standaard-interacties></awv-kaart-standaard-interacties>
  </awv-kaart>
</div>
