<h1>AWV Commons</h1>

<h2>Kaart met lagen</h2>
<div>
  <awv-kaart [height]="400" [viewOnly]="true">
    <awv-kaart-laag titel="Orthofotos (AGIV)" [kaartLaagConfig]="orthoConfig"></awv-kaart-laag>
    <awv-kaart-laag titel="Dienstkaart kleur" [kaartLaagConfig]="dienstkaartKleurConfig"></awv-kaart-laag>
    <awv-kaart-laag titel="Dienstkaart grijs" [kaartLaagConfig]="dienstkaartGrijsConfig"></awv-kaart-laag>
    <awv-kaart-laag titel="Ident8 labels (WDB)" [kaartLaagConfig]="ident8LabelsConfig"></awv-kaart-laag>
    <awv-kaart-laag titel="Referentiepunten (WDB)"
                        [kaartLaagConfig]="referentiepuntenConfig"></awv-kaart-laag>
  </awv-kaart>
</div>
